/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");
/* font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif; font-family: 'Barlow', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --color-blue-dark: #0b0d17;
  --color-text: #d0d6f9;
  --color-white: #ffffff;
}

a {
  color: var(--color-white);
}

body {
  width: 100%;

  overflow-x: hidden;
  font-family: "Barlow Condensed", sans-serif;
  color: var(--color-text);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 1440px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

h1 {
  font-family: "Bellefair", serif;
}

@media only screen and (max-width: 1260px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 620px) {
  .container {
    width: 100%;
  }
}
